.test {
  color: green;
}

.overlay-indicator {
  background-color: transparent;
  border: none;
}

.overlay-indicator slider {
  background-color: transparent;
}

.path-bar {
  border-radius: 0px 0px 0px 0px;
  border: 1px @borders solid;
  background-color: @theme_bg_color;
  padding-right: 6px;
}

.path-bar button {
  margin: 0px;
}

.path-bar button:first-child {
  border-width: 0px 1px 0px 0px;
  border-radius: 3.5px 0px 0px 3.5px;
}


.path-bar button:not(:first-child) {
  border-width: 0px 1px 0px 1px;
  border-radius: 0px 0px 0px 0px;
}

